.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.side-nav {
  background-color: gainsboro;
  width: 250px;
  padding-left: 10px;
  padding-top: 20px;
}

.side-nav-content {
  background-color: cornsilk;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}
