<mat-sidenav-container class="container">
  <mat-sidenav class="side-nav" mode="side" opened>
    Sidenav content
    <mat-selection-list #menus [multiple]="false">
      <mat-list-option
        *ngFor="let menu of typeOfMenus; let i = index"
        [value]="i"
      >
        {{ i }} - {{ menu }}
      </mat-list-option>
    </mat-selection-list>

    <p>
      Option selected:
      {{ showOption(menus) }}
    </p>
  </mat-sidenav>

  <mat-sidenav-content class="side-nav-content">
    Main content
    <div *ngIf="menuGerirReunioes"><h2>Menu Gerir Reunioes</h2></div>
    <div *ngIf="menuGerirSalas">
      <h2>Menu Gerir Salas</h2>
      <gerirsalas></gerirsalas>
    </div>
    <div *ngIf="menuGerirRecursos"><h2>Menu Gerir Recursos</h2></div>
  </mat-sidenav-content>
</mat-sidenav-container>
